body {
  margin-top: 30px;
 margin-bottom: 30px;
}
.navbar-default {
    background-color: orange;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #333;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle {
    border-color: white;
}
.title{
  font-style: italic; 
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #333;
}
.heading {
  text-decoration: underline;
}
body {
    background: url('bg.jpg');
    background-attachment: fixed;
}
.container {
  background-color: white
}