body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: orange;
}
#wrapper {
  width: 1300px;
  margin: 20px auto;
}
#bilal {
	width: 150px;
	border: 25px solid purple; 
}
h1, h2, h3 {
	color: purple;
}
#summary {
	text-decoration:underline;
}
.unicorn {
	text-decoration:underline;
}

